.portfolio-app {
  background-color: #ffffff;
  color: #333333;

}

/*Header styles*/
.header {
  background-color: rgba(242, 244, 244, 0.896);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #000000;
  margin: 0;
}

/*Navigation styles*/
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#nav ul li {
  margin-left: 20px;
}

#nav ul li button {
  color: rgb(234, 142, 158);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

#nav ul li button:hover {
  color: #ff4d8f;
}

/*section styles*/

.about,
.work,
.contact,
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/*footer styles*/
.footer {
  background-color: rgba(242, 244, 244, 0.896);
  color: #000000;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: rgb(234, 142, 158);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ff4d8f;
}

#footernav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}